.month-grid {
    padding: rem-calc(30) 0;


    &__link {
        margin: rem-calc(20) 0;

    }

    &__header {
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(5);
        font-family: 'Zilla Slab';
        // font-size: rem-calc(26);

        color: #222;
        // color: white;

    }

    &__content {
        color: #222;
        // background: #333;
        // color: white;
        // padding: rem-calc(20);
    }

    &__img {
        width: 100%;
        display: block;
        box-shadow: 4px 3px 40px rgba(17, 17, 17, 0.24);

    }

}

.month {

    &__img {
        display: block;
        width: 100%;
        margin: rem-calc(10) 0;

        //box-shadow: 4px 3px 40px rgba(17, 17, 17, 0.44);

        @include breakpoint(large) {
            // margin-left: rem-calc(20);
            // margin-top: rem-calc(40);

        }
    }
}

.main-content__header--no-margin-top {
    margin-top: 0;
}
